.input-editavel {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    padding: 8px 12px    ;
    border-radius: 6px;
    
    &.money{
        padding-left: 30px;
    }

    &:hover {
        background-color: #ffffff40;
    }

    &:focus {
        background-color: #ffffff70;
    }
}